@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
--primary-color:#001219;
--secondary-color:rgba(255, 166, 0, 0.784);
--primary-light-color:#00121917;

--text-color:#D3D0D3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
/* Reusable Utilities */
a{
    display: inline-block;
    text-decoration: none;
    text-align: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    display: block;
    max-width: 100%;
}
section{
    padding: 120px 0;
}

.btn{
    border: none;
    padding: 8px 32px;
    border-radius: 30px;
}
.btn i{
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 18px;
    transition: .3s ease-in-out;
    
}
.btn-primary:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-secondary{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .3s ease-in-out;

}
.btn-secondary:hover{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}
/* Padding */
.py-120{
    padding: 120px 0!important;
}
.pb{
    padding-bottom: 0!important;
}
/* Text Colors */
.text-white{
    color: var(--text-color);
}
.text-secondary{
    color: var(--secondary-color);
}
/* BG Colors */
.bg-primary{
    background-color: var(--primary-color);
}
.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.section-header{
    width: fit-content;
    margin: auto;
    position: relative;
    font-size: 34px;
    margin-bottom: 80px;
    text-transform: capitalize;
}
.section-header::before{
    position: absolute;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--primary-color);
     left: 0;
    top: 100%;
}
.section-header::after{
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 60px;
    background-color: var(--primary-color);
    left: 50%;
    top: 42px;
    transform: translateX(-50%);
    border-radius: 10px;
}
.page-header{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.711)),url(images/image-1.jpg);
    padding: 120px 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.page-header h2{
    color:white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
.translate-y{
    transform:translateY(-120px);
    border-radius: 10px ;
    background-color: white;
}
.filter-section{
    margin-bottom: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.filter-section button{
    display: block;
    border: none;
    background-color: transparent;
    padding: 8px 32px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 20px;
    outline: 1px solid;
    cursor: pointer;
    position: relative;
}
.filter-section button::before{
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
    transition: .3s ease-in-out;
}
.filter-section button:hover{
    color: white;
}
.filter-section button:hover::before{
    width: 100%;
}
.courses{
    padding:0px;
}
/* end of reusable utilities */
.header{
    background-color: var(--primary-color);
    padding: 20px 0;
}
.logo{
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: 500;
    transition: .3s;
}
.logo:hover{
    transform: scale(1.1);
    
}
.logo span{
    color: var(--text-color);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul{
    display: inline-flex;
    gap: 20px;
}
.nav-bar ul a{
    color: var(--text-color);
    transition: .3s ease-in-out;
    font-size: 18px;
}
.nav-bar ul a.active{
    color: var(--secondary-color);
    transition: .3s ease-in-out;
}
.nav-bar ul a:hover{
    color: var(--secondary-color);
}
.form-search{
    border: 1px solid var(--secondary-color);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.form-search input[type='search']{
    background-color: transparent;
    color: var(--text-color);
    padding:4px 12px;
    font-size: 16px;
    border: none;

}.form-search input[type='search']::placeholder{
    color: var(--text-color);
    opacity: .9;
    transition: .3s ease-in-out;
}
.form-search input[type='search']:focus{
    outline: none;
    border: none;
}
.form-search input[type='search']:focus::placeholder{
    opacity: 0;
}
.search-btn{
    display: block;
    border: none;
    padding: 4px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    transition: .3s ease-in-out;
    text-transform: capitalize;
}
.search-btn:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.nav-bar .fa-bars{
   display: none;
    color: var(--text-color);
    font-size: 18px;
}
.hero-text{
    animation: fromLeft 1s ease-in-out;
}
.hero-text h1{
    font-size: 54px;
    color: var(--primary-color);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}
.hero-text p{
font-size: 18px;
line-height: 1.5;
margin-bottom: 10px;
}
.hero-col img{
    border-radius: 20px;
    animation: fromRight 1.5s ease-in-out;

}
.about{
    background-color: var(--primary-light-color);
}
.about .grid{
    padding-bottom: 120px;
}

.about img{
    border-radius: 10px;
}
.about-text h2{
 font-size: 34px;
 margin-bottom: 15px;
 line-height: 1.2;
 color: var(--primary-light-colorcolor);
 opacity: 0.8;
 font-weight: 600;
}
.about-text p{
 font-size: 14px;
 margin-bottom: 15px;
 line-height: 1.2;
 color: var(--primary-light-colorcolor);
 opacity: 0.7;
 line-height: 1.6;

}
.about-text p:last-child{
padding-bottom: none;
}
.courses .grid{
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.courses .translate-y{
    padding: 40px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.335);
}
.courses .btn{
    margin: 25px auto auto auto;
    width: fit-content!important;
    display: block;
}
.contact .section-header::before,
.contact .section-header::after{
    background-color: var(--text-color);
}
.cta-section{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.711)),url(images/image-2.jpg);
    padding: 120px 0;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
.cta-text{
    text-align: center;
}
.cta-text h2{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
.cta-text .btn{
    font-weight: 600;
}
/* Media queries */
@media only screen and (max-width:1100px){
.header{
    position: relative;
}
 .nav-bar ul a{
    font-size: 16px;
} 
.form-search{
    order: 3;
}
.form-search input[type='search']{
    font-size: 16px;
    border: none;
    position: absolute;
    top: -100%;
    background-color: var(--primary-color);
    color: white;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 10px 24px;
    transition: .3s ease-in;

}
.form-search input[type='search'].toggle-input{
    top: 100%;
}
.form-search input[type='search']::placeholder{
    color: white;
    opacity: .9;
    transition: .3s ease-in-out;
}
.form-search input[type='search']:focus{
    outline: none;
    border: none;
}
.form-search input[type='search']:focus::placeholder{
    opacity: 0;
}
.form-search{
    border: none;
}
.search-btn{
    padding: 0;
    background-color: transparent;
    color: white;
}
.search-btn:hover{
    background-color: transparent;
}

}
@media only screen and (max-width:1090px){
    .hero-text h1{
        font-size: 40px;
        line-height: 1.4;

    }
    .hero-text p{
        font-size: 18px;
        line-height: 1.5;


    }
    .hero .hero-col:first-child{
        order: 2;
    }
    .hero .grid,
    .about .grid{
        grid-template-columns: 1fr;
    }
    .courses .grid{
        grid-template-columns:repeat(2,1fr);

    }
    .about .grid .col:first-child{
order: 2;
    }
}
@media only screen and (max-width:740px){
.nav-bar .fa-bars{
    display: block;
    order: 4;
}

.nav-bar ul{
    display: inline-flex;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -1000px;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primary-color);
    width:300px;
    z-index: 1000;
    justify-content: center;
    text-align: center;
    transition: .3s ease-in-out;
}
.nav-bar ul.show-nav{
    left: 0;
}
.nav-bar ul li{
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px 0;
}

}
/* Keyframes for animations */

@keyframes fromLeft {
    0%{
transform: translateX(-2000px);
    }
    100%{
transform: translateX(0);

    }
    
}
@keyframes fromRight {
    0%{
transform: translateX(2000px);
    }
    100%{
transform: translateX(0);

    }
    
}